In [1]:
# this will help in making the Python code more structured automatically (good coding practice)
%load_ext nb_black

# Libraries to help with reading and manipulating data
import numpy as np
import pandas as pd

# Libraries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

# Removes the limit for the number of displayed columns
pd.set_option("display.max_columns", None)
# Sets the limit for the number of displayed rows
pd.set_option("display.max_rows", 200)

# to split the data into train and test
from sklearn.model_selection import train_test_split

# to build linear regression_model
from sklearn.linear_model import LinearRegression

# to check model performance
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [2]:
data = pd.read_csv("KickStarterProjects.csv")

In [3]:
print(f"There are {data.shape[0]} rows and {data.shape[1]} columns")

There are 378661 rows and 14 columns

In [4]:
data.sample(10, random_state=2)

,ID,name,subcategory,category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real
286902,529551273,"One Island, One World",Webseries,Film & Video,USD,18-05-2012,6000.0,13-04-2012 17:34,6140.0,successful,35,US,6140.0,6000.00
169942,1864585141,Rebecca Patek's First Album,Country & Folk,Music,USD,19-12-2014,1500.0,19-11-2014 21:18,3167.0,successful,79,US,3167.0,1500.00
29895,115193796,"Clicker Stick...Easy to use, hard to lose",Technology,Technology,USD,31-01-2017,9800.0,01-01-2017 15:24,1215.0,failed,30,US,1215.0,9800.00
311647,657450598,Roots Grow Up: an Alternative Hip Hop Album,Music,Music,USD,14-03-2012,1000.0,13-02-2012 20:42,355.0,failed,12,US,355.0,1000.00
108515,1551617654,BJ and Dawn's New Album,Music,Music,USD,22-04-2012,5000.0,10-03-2012 00:19,6930.0,successful,57,US,6930.0,5000.00
55183,1280814835,Solidarity Needed: Contraposition Lit Mag Need...,Literary Journals,Publishing,USD,18-12-2014,500.0,12-11-2014 19:04,1030.0,successful,12,US,1030.0,500.00
21334,1108173843,PottyRookie: A Better Way of Training,Product Design,Design,USD,04-12-2014,10000.0,04-11-2014 16:35,3715.0,failed,52,US,3715.0,10000.00
1762,1009038481,Food Prep Made Easy,Food,Food,USD,25-02-2017,50000.0,26-01-2017 02:52,155.0,failed,5,US,155.0,50000.00
122811,1623709963,Health care product (A.P.H.D.U),Technology,Technology,CAD,23-10-2017,70000.0,13-09-2017 21:43,0.0,canceled,0,CA,0.0,54297.24
30353,1154201079,Central Ohio Astronomical Society Mobile Class...,Space Exploration,Technology,USD,24-11-2015,20000.0,25-09-2015 19:06,19.0,canceled,5,US,19.0,20000.00

In [5]:
kickStart = data.copy()

In [6]:
kickStart.describe()

,ID,goal,pledged,backers,usd_pledged_real,usd_goal_real
count,3.786610e+05,3.786610e+05,3.786610e+05,378661.000000,3.786610e+05,3.786610e+05
mean,1.074731e+09,4.908079e+04,9.682979e+03,105.617476,9.058924e+03,4.545440e+04
std,6.190862e+08,1.183391e+06,9.563601e+04,907.185035,9.097334e+04,1.152950e+06
min,5.971000e+03,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,1.000000e-02
25%,5.382635e+08,2.000000e+03,3.000000e+01,2.000000,3.100000e+01,2.000000e+03
50%,1.075276e+09,5.200000e+03,6.200000e+02,12.000000,6.243300e+02,5.500000e+03
75%,1.610149e+09,1.600000e+04,4.076000e+03,56.000000,4.050000e+03,1.550000e+04
max,2.147476e+09,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,1.663614e+08

In [7]:
kickStart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 14 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   subcategory       378661 non-null  object
 3   category          378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   state             378661 non-null  object
 10  backers           378661 non-null  int64
 11  country           378661 non-null  object
 12  usd_pledged_real  378661 non-null  float64
 13  usd_goal_real     378661 non-null  float64
dtypes: float64(4), int64(2), object(8)
memory usage: 40.4+ MB

In [8]:
kickStart.isnull().sum()

ID                  0
name                4
subcategory         0
category            0
currency            0
deadline            0
goal                0
launched            0
pledged             0
state               0
backers             0
country             0
usd_pledged_real    0
usd_goal_real       0
dtype: int64

In [9]:
kickStart.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
ID,378661.0,NaN,NaN,NaN,1074731191.988755,619086204.322627,5971.0,538263516.0,1075275634.0,1610148624.0,2147476221.0
name,378657,375722,#NAME?,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN
subcategory,378661,159,Product Design,22314,NaN,NaN,NaN,NaN,NaN,NaN,NaN
category,378661,15,Film & Video,63585,NaN,NaN,NaN,NaN,NaN,NaN,NaN
currency,378661,14,USD,295365,NaN,NaN,NaN,NaN,NaN,NaN,NaN
deadline,378661,3164,08-08-2014,705,NaN,NaN,NaN,NaN,NaN,NaN,NaN
goal,378661.0,NaN,NaN,NaN,49080.791521,1183391.259093,0.01,2000.0,5200.0,16000.0,100000000.0
launched,378661,347035,20-06-2017 16:00,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
pledged,378661.0,NaN,NaN,NaN,9682.979339,95636.010005,0.0,30.0,620.0,4076.0,20338986.27
state,378661,6,failed,197719,NaN,NaN,NaN,NaN,NaN,NaN,NaN
backers,378661.0,NaN,NaN,NaN,105.617476,907.185035,0.0,2.0,12.0,56.0,219382.0
country,378661,23,US,292627,NaN,NaN,NaN,NaN,NaN,NaN,NaN
usd_pledged_real,378661.0,NaN,NaN,NaN,9058.924074,90973.343107,0.0,31.0,624.33,4050.0,20338986.27
usd_goal_real,378661.0,NaN,NaN,NaN,45454.401465,1152950.055061,0.01,2000.0,5500.0,15500.0,166361390.7

In [10]:
kickStart[kickStart.name.isnull()]  # show rows missing names

,ID,name,subcategory,category,currency,deadline,goal,launched,pledged,state,backers,country,usd_pledged_real,usd_goal_real
166851,1848699072,NaN,Narrative Film,Film & Video,USD,29-02-2012,200000.0,01-01-2012 12:35,100.0,failed,1,US,100.00,200000.00
307234,634871725,NaN,Video Games,Games,GBP,06-01-2013,2000.0,19-12-2012 23:57,196.0,failed,12,GB,316.05,3224.97
309991,648853978,NaN,Product Design,Design,USD,18-07-2016,2500.0,18-06-2016 05:01,0.0,suspended,0,US,0.00,2500.00
338931,796533179,NaN,Painting,Art,USD,05-12-2011,35000.0,06-11-2011 23:55,220.0,failed,5,US,220.00,35000.00

In [11]:
kickStart.dropna(subset=["name"], inplace=True)

In [12]:
data.shape

(378661, 14)

In [13]:
kickStart.shape

(378657, 14)

In [15]:
kickStart.category.value_counts()

Film & Video    63584
Music           51918
Publishing      39874
Games           35230
Technology      32569
Design          30069
Art             28152
Food            24602
Fashion         22816
Theater         10913
Comics          10819
Photography     10779
Crafts           8809
Journalism       4755
Dance            3768
Name: category, dtype: int64

In [ ]:
#plt.figure(figsize=(7, 4))
#sns.histplot(data=kickStart, x="goal", kde=True)
#plt.show()

In [ ]:
#plt.figure(figsize=(7, 4))
#sns.boxplot(data=kickStart, x="backers")
#plt.show()

In [ ]:
#plt.figure(figsize=(7, 4))
#sns.boxplot(data=kickStart, x="goal")
#plt.show()

In [ ]:
plt.figure(figsize=(7, 4))
sns.histplot(data=kickStart, x="goal")
plt.show()

In [ ]:
kickStart.name.unique().sum()